* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

/* TOP SECTION */
header {
    border: 1px solid red;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    width: 100%;
}

.header-top {
    border: 1px solid red;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-link, .header-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:  5% 10%;
}

.header-text {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-basis: 50%;
    gap: 10px;
}

.header-text-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.header-secondary-text {
    margin: 0;
}

.header-img {
    border: 1px solid red;
    display: flex;
    flex-basis: 50%;

}

.header-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* MIDDLE SECTION */
.body-top {
    border: 1px solid red;
    padding: 0 10%; 
    align-items: center;
}

.body-header {
    font-size: 48px;
    font-weight: 900;
    padding: 30px 0;
    text-align: center;
}

.box-container {
    display: flex;
    gap: 20px;
    padding: 20px 0;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
}

.body-image {
    border: 2px solid #3882F6;
    border-radius: 15px;
}

.body-middle {
    border: 1px solid red;
    padding: 0 10%;
    background-color: #E5E7EB;
    padding: 90px 100px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
}

.quote-author {
    font-weight: bold;
    text-align: end;
}

/* BOTTOM SECTION */
.body-bottom {
    width: 100%;
    padding: 50px;
}

.text-button-container {
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
}

#bottom-button {
    border: 1px solid #F9FAF8;
}

/* FOOTER */
footer {
    border: 1px solid red;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 10%;
    text-align: center;
}

/* GLOBAL ELEMENTS */
ul {
    border: 1px solid red;
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    width: 90px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}